## Test

In [51]:
import pandas as pd

### Titanic Data set

In [2]:
titanic = pd.read_csv("https://raw.githubusercontent.com/Geoyi/Cleaning-Titanic-Data/master/titanic_original.csv")

In [5]:
titanic.describe().T

,count,mean,std,min,25%,50%,75%,max
pclass,1309.0,2.294882,0.837836,1.0000,2.0000,3.0000,3.000,3.0000
survived,1309.0,0.381971,0.486055,0.0000,0.0000,0.0000,1.000,1.0000
age,1046.0,29.881135,14.413500,0.1667,21.0000,28.0000,39.000,80.0000
sibsp,1309.0,0.498854,1.041658,0.0000,0.0000,0.0000,1.000,8.0000
parch,1309.0,0.385027,0.865560,0.0000,0.0000,0.0000,0.000,9.0000
fare,1308.0,33.295479,51.758668,0.0000,7.8958,14.4542,31.275,512.3292
body,121.0,160.809917,97.696922,1.0000,72.0000,155.0000,256.000,328.0000

#### Which column has most NaN values

In [7]:
missing_counts = titanic.isna().sum()

pclass          1
survived        1
name            1
sex             1
age           264
sibsp           1
parch           1
ticket          1
fare            2
cabin        1015
embarked        3
boat          824
body         1189
home.dest     565
dtype: int64

### Flowers Data set

In [54]:
flowers = pd.read_csv("data_test/iris.data", header=None)
print(flowers)

       0    1    2    3               4
0    5.1  3.5  1.4  0.2     Iris-setosa
1    4.9  3.0  1.4  0.2     Iris-setosa
2    4.7  3.2  1.3  0.2     Iris-setosa
3    4.6  3.1  1.5  0.2     Iris-setosa
4    5.0  3.6  1.4  0.2     Iris-setosa
..   ...  ...  ...  ...             ...
145  6.7  3.0  5.2  2.3  Iris-virginica
146  6.3  2.5  5.0  1.9  Iris-virginica
147  6.5  3.0  5.2  2.0  Iris-virginica
148  6.2  3.4  5.4  2.3  Iris-virginica
149  5.9  3.0  5.1  1.8  Iris-virginica

[150 rows x 5 columns]

#### Filter betwee 4.5 & 10 and find the mean values

In [31]:
flowers[(flowers[0]>=4.5) & (flowers[0]<=10)].mean().round(1)

C:\Users\GRIG\AppData\Local\Temp\ipykernel_17056\676495578.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  flowers[(flowers[0]>=4.5) & (flowers[0]<=10)].mean().round(1)

0    5.9
1    3.1
2    3.8
3    1.2
dtype: float64

### Wine Data sets

Read the data sets and find the mean quality

In [53]:
red_wine = pd.read_csv("data_test/winequality-red.csv", delimiter=";")
white_wine = pd.read_csv("data_test/winequality-white.csv", delimiter=";")

In [45]:
print(red_wine.mean()["quality"])
print(white_wine.mean()["quality"])

5.6360225140712945
5.87790935075541

Find the correlation betwee quality and alcohol

In [49]:
correlation = red_wine['alcohol'].corr(red_wine['quality'])

rounded_correlation = round(correlation, 2)

print(rounded_correlation)

0.48

In [50]:
correlation = white_wine['alcohol'].corr(white_wine['quality'])

rounded_correlation = round(correlation, 2)

print(rounded_correlation)

0.44